* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.top_title {
  height: 48px;
  width: 100%;
  background-color: #03a4fc;
  position: relative;
}
.top_title .title_tt {
  font-size: 18px;
  color: #ffffff;
  width: 60%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30%;
}
.top_title .go_back {
  width: 30px;
  height: 30px;
  background: url("../../../images/weixin/bid/icon_back_blue.png") center no-repeat;
  background-size: 100%;
  position: absolute;
  left: 10px;
  top: 9px;
}
.top_title_grey {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.top_title_grey .title_tt {
  color: #03a4fc;
}
.content {
  margin-top: 0;
  height: 100%;
  position: relative;
}
.content .brief_info {
  margin-top: 48px;
  background-color: #ffffff;
  padding-bottom: 16px;
}
.content .brief_info li {
  width: 50%;
  float: left;
  overflow: hidden;
  margin-top: 16px;
  padding-left: 10px;
  font-size: 13px;
  color: #8d8d8d;
}
.content .brief_info li span {
  color: #000;
}
.content .detail_info {
  margin-top: 15px;
  background: #fff;
}
.content .detail_info .detail_bb {
  font-size: 14px;
  color: #393939;
}
.content .detail_info li {
  overflow: hidden;
  padding: 10px 10px;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
}
.content .detail_info li .detail_left {
  float: left;
  width: 70%;
  color: #b2b2b2;
}
.content .detail_info li .detail_right {
  float: right;
  max-width: 25%;
}
